{% extends 'layout.html.twig' %}

{% block contenido %}

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
        {{ form_start(form) }}
            <h1>Crear cuenta</h1>
            {{ form_row(form.forename) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.login.username) }}
            {{ form_row(form.login.password.first) }}
            {{ form_row(form.login.password.second) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
        </section>
    </div>
</div>
{% endblock %}