{% extends 'layoutLogin.html.twig' %}

{% block contenido %}

    <div class="login-logo">
        <h1>Crear cuenta</h1>
    </div>
    <div class="login-box-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12 col-xs-12 form-group">
            {{ form_row(form.forename) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 form-group">
            {{ form_row(form.lastname) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 form-group">
            {{ form_row(form.login.username) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 form-group">
            {{ form_row(form.login.password.first) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 form-group">
            {{ form_row(form.login.password.second) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 form-group">
                <center>{{ form_row(form.save) }}</center>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}